/* body us */
* {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
/* primary */
.primary-btn{
    padding: 10px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    background: rgb(93, 190, 247);
}


/* Banner creation */
.banner{
    height: 100vh;
    background-image: url('images/banner2.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
}
.banner-content{
    width: 500px;
    margin-right:10% ;
    text-align: right;
}
.banner-content-title{
    font-size: 40px;
    margin-bottom: 20px;
}
.banner-content-para{
    margin-bottom: 20px;
}



/* About section created  */
.about{
    margin: 100px 200px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.about-content-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.about-content-para{
    font-size: 18px;
    color: darkgray;
    margin-bottom: 30px;
}
.about-content-sub-para{
    margin-top: 10px;
}


/* Plan */
.plan{
    margin: 100px 200px 0 200px;
    text-align: center;
}
.plan-title{
    font-size: 40px;
    margin-bottom: 50px;
}
.plan-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.plan-content-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.plan-content-para{
    margin-bottom: 10px;
}


/* Wacth this */
.wacth{
    margin: 100px 200px 0 200px;
    height: 300px;
    background-image: url('/images/watch.png');
    background-repeat: no-repeat;
    padding: 100px 0 0 40px;

}
.wacth-title{
    font-size: 40px;
    margin-bottom: 20px;
}


/* Footer */
.footer{
    background: #000;
    height: 400px;
    color: #fff;
    display: flex;
    gap: 80px;
    justify-content: space-around;
    padding: 50px 100px 50px 100px;
}
.footer-content{
    margin-right: 200px;
}
.footer-content-title{
    font-size: 40px;
    margin-bottom: 20px;
}
.footer-content-para{
    
}
.email{
    margin-top: 30px;
    margin-bottom: 30px;
}
.number{
    margin-bottom: 40px;
}
.input{
    background: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 30px;
}